<div class="collapse" id="collapseRole" style="margin: 15px">
    <div class="card card-body">
        <div class="row">
            <div class="form-group col-6">
                <label for="RoleName">Name</label>
                <input type="text" class="form-control" id="RoleName" [(ngModel)]="roleInput.name" placeholder="Enter Name">
            </div>
            <div class="form-group col-6">
                <label for="RoleDescription">Description</label>
                <textarea class="form-control" id="RoleDescription" [(ngModel)]="roleInput.description" rows="3"></textarea>
            </div>
            <div class="col-12" style="text-align: center">
                <button type="button" data-toggle="collapse" data-target="#collapseRole" aria-expanded="false" aria-controls="collapseRole"
                    class="btn btn-primary" *ngIf="!editFlag" (click)="addRole()">Add</button>
                <button type="button" data-toggle="collapse" data-target="#collapseRole" aria-expanded="false" aria-controls="collapseRole"
                    class="btn btn-primary" *ngIf="editFlag" (click)="updateRole()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 15px;margin-top: 5%">
    <div class="form-group has-search col-4">
        <span class="searchIcon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control filterSearch" placeholder="Search..." name="search" autocomplete="off">
    </div>
    <div class="col-3" data-toggle="collapse" data-target="#collapseRole" aria-expanded="false" aria-controls="collapseRole">
        <a class="float"> <i class="fa fa-plus my-float"></i> </a>
        <span style="    position: absolute; left: 41%; top: 11%;">New</span>
    </div>
    <div class="col-2">
        <a class="float"> <i class="fas fa-arrow-up my-float"></i> </a>
        <span style="    position: absolute; left: 41%; top: 11%;">Export</span>
    </div>
    <div class="col-12">
        <table class="table" style="margin-top: 5%">
            <thead style="background-color: #59d5ff; color: #ffffff;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList | paginate: { itemsPerPage: itemsPage, currentPage: p}; let i = index">
                    <th scope="row"> {{ itemsPage * (p - 1) + i+1 }} </th>
                    <td>{{role.name}}</td>
                    <td>{{role.description}}</td>
                    <td><span (click)="editRole(role)"> <i class="fas fa-edit" data-toggle="collapse" data-target="#collapseRole"
                                aria-expanded="false" aria-controls="collapseRole" style="color: green; cursor: pointer;"></i></span>/<span
                            (click)="deleteRole(role)"><i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls (pageChange)="p = $event" style="text-align: center"></pagination-controls>