input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #a94442;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  margin-top: 5px;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-setpattern, .parsley-custom-error-message, .parsley-required, .parsley-type, .parsley-pattern{
  color: #a94442 !important;
 margin-bottom: 0px;
 margin-top: 5px;
 font-size: 85%;
}
