<div class="card bg-info ml-md-4">
    <div class="row">
        <div class="main-heading col-md-6 col-12">
            <h1 class="heading-title">Newsfeed</h1>
        </div>
        <div class="col-md-6 col-12 right-filter text-right">
            <h5 class="text-blue mb-0 mr-4">Filter by</h5>
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/images/footer-logo.png" alt="TreeCoin" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/IamOn.png" alt="IamOn" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/Atreides.png" alt="Atreides" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-wrapper pt-2">
    <!--main-wrapper starts-->
    <div class="box-wrapper">
        <!--box-wrapper starts-->
        <div class="card pl-0 pr-0 pb-0">
            <div class="card-body">
                <ul class="newsfeed" *ngIf="notifications">
                    <li *ngFor="let notification of notifications" class="icon-icon1 bg-icon-green">
                        <div class="row">
                            <div class="col-md-8">
                                <h5 class="text-blue">{{notification.notification_type.name}}</h5>
                                <p> {{notification.text}} </p>
                                <p class="post-meta">Posted by <a href="" class="text-green">Treecoin</a></p>
                            </div>
                            <div class="col-md-4">
                                <p class="post-meta text-md-right text-sm-left">
                                    <i class="icon-Time mr-2"></i>{{notification.createdAt | date}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="!notifications">No Notifications</div>
            </div>
            <!--card-body ends-->
        </div>
    </div>
    <!--box-wrapper ends-->
</div>
<!--main-wrapper ends-->