<div class="collapse" id="collapseCustomer" style="margin: 15px">
    <div class="card card-body">
        <div class="row">
            <div class="form-group col-4">
                <label for="customerName">Name</label>
                <input type="text" class="form-control" id="customerName" placeholder="Enter Name" [(ngModel)]="customerInput.name">
            </div>
            <div class="form-group col-4">
                <label for="customerName">Contact Number</label>
                <input type="text" class="form-control" id="customerName" placeholder="Enter Number" [(ngModel)]="customerInput.contact">
            </div>
            <div class="form-group col-4">
                <label for="customerAddress">Address</label>
                <textarea class="form-control" id="customerAddress" rows="3" [(ngModel)]="customerInput.address"></textarea>
            </div>
            <div class="col-12" style="text-align: center">
                <button type="button" data-toggle="collapse" data-target="#collapseCustomer" aria-expanded="false" aria-controls="collapseCustomer"
                    class="btn btn-primary" *ngIf="!editFlag" (click)="addCustomer()">Add</button>
                <button type="button" data-toggle="collapse" data-target="#collapseCustomer" aria-expanded="false" aria-controls="collapseCustomer"
                    class="btn btn-primary" *ngIf="editFlag" (click)="updateCustomer()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 15px;margin-top: 5%">
    <div class="form-group has-search col-4">
        <span class="searchIcon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control filterSearch" placeholder="Search..." name="search" autocomplete="off">
    </div>
    <div class="col-3" data-toggle="collapse" data-target="#collapseCustomer" aria-expanded="false" aria-controls="collapseCustomer">
        <a class="float"> <i class="fa fa-plus my-float"></i> </a>
        <span style="    position: absolute; left: 41%; top: 11%;">New</span>
    </div>
    <div class="col-2">
        <a class="float"> <i class="fas fa-arrow-up my-float"></i> </a>
        <span style="    position: absolute; left: 41%; top: 11%;">Export</span>
    </div>
    <div class="col-12">
        <table class="table" style="margin-top: 5%">
            <thead style="background-color: #59d5ff; color: #ffffff;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: itemsPage, currentPage: p}; let i = index">
                    <th scope="row"> {{ itemsPage * (p - 1) + i+1 }} </th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.contact}}</td>
                    <td>{{customer.address}}</td>
                    <td><span (click)="editCustomer(customer)"> <i class="fas fa-edit" data-toggle="collapse" data-target="#collapseCustomer"
                                aria-expanded="false" aria-controls="collapseCustomer" style="color: green; cursor: pointer;"></i></span>/<span
                            (click)="deleteCustomer(customer)"><i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls (pageChange)="p = $event" style="text-align: center"></pagination-controls>